<div id="vcomment"></div>
<script async>
    var notify = <%= theme.valine.notify %> == true ? true : false;
    var verify = <%= theme.valine.verify %> == true ? true : false;
    var visitor = <%= theme.valine.visitor %> == true ? true : false;
    var recordIP = <%= theme.valine.recordIP %> == true ? true : false;
    loadScript('https://cdn.jsdelivr.net/npm/valine@1.3.6/dist/Valine.min.js',function(){
    loadScript('https://cdn.jsdelivr.net/npm/leancloud-storage/dist/av-min.js',function(){
        AV.init({
            appId: '<%= theme.valine.appid %>',
            appKey: '<%= theme.valine.appkey %>',
            serverURLs: 'https://avoscloud.com'
        });
        new Valine({
            el: '#vcomment',
            notify: notify,
            verify: verify,
            appId: '<%= theme.valine.appid %>',
            appKey: '<%= theme.valine.appkey %>',
            placeholder: '<%= theme.valine.placeholder %>',
            avatar: '<%= theme.valine.avatar %>',
            avatar_cdn: '<%= theme.valine.avatar_cdn %>',
            pageSize: <%= theme.valine.pageSize %>,
            path: '<%- url_for(post.path) %>',
            visitor: visitor,
            recordIP: recordIP
        });
        if(window.location.hash){
          var checkExist = setInterval(function() {
            if (document.getElementById(window.location.hash.replace("#",""))) {
              location.href = window.location.hash;
              clearInterval(checkExist);
            }
          }, 250);
        }
    });
    });
</script>